@charset "UTF-8";

body {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", 나눔고딕, "Nanum Gothic", "Noto Sans KR", "Noto Sans CJK KR", arial, 돋움, Dotum, Tahoma, Geneva, sans-serif;
	
	font-size: 1rem;
}

.header-btn {
	margin-right: 1.25rem;
	height: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1rem;
	border-radius: 1rem;
	outline: none;
	font-weight: bold;
	word-break: keep-all;
	background: #f8f9fa;
	border: #212529;
	color: #212529;
	transition: all 0.125s ease-in 0s;
	border: 1px solid #212529;
	cursor: pointer;
	text-align: center;
}

.header-btn:hover {
	background: black;
	color: white;
}

.boxShadow {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


.card-custom {
	background-color: white;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
	overflow: hidden;
	transition: transform .5s ease, padding .5s ease;
	margin: 20px 10px;
}

.card-custom:hover {
	transform: translate(0,-5px);
	box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 16px 0px;
}

.card-body-custom {
	height: 45px;
	font-size: 0.75rem;
	line-height: 1.5;
	border-top: 1px solid #e3e3e3;
	padding : 0.625rem 1rem;
	display: flex;
	justify-content: space-between;
	-webkit-box-pack: justify;
}

.text-small {
	font-size: 0.75rem;
	color: #868e96;
	line-height: 40px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* 인터넷익스플로러 */
    user-select: none;
}

.card-a-custom {
	text-decoration: none;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	color: black;
	cursor: pointer;
}

.card-img-custom {
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
	display: block;
	margin-right: 0.5rem;
}

.card-img-custom2 {
	border-radius: 50%;
	width: 3.3rem;
	height: 3.3rem;
	margin-right: 0.5rem;
}

.card-img-custom3 {
	border-radius: 50%;
	width: 8rem;
	height: 8rem;
	margin-right: 0.5rem;
}

.card-img-custom4 {
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 0.5rem;
}

.card-like-custom {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.like-svg {
	width: 0.75rem;
	height: 0.75rem;
	margin-right: 0.5rem;
}

.title {
	font-size: 2.5rem;
	font-weight: bold;
}

.contents {
	padding-top: 130px;
}

.div-read0 {
	background-color: white;
	margin:0 auto; 
	min-height: 90vh; 
	padding: 100px 0;
}

.btn-read0 {
	padding: 0px;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
	color: #868e96;
}

.span-read0 {
	font-weight: bold;
}

.writeModal {
	width: 100%;
	display: flex;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	background-color: #f8f9fa;
	display: none;
	z-index: 100;
}

.div-write0 {
	margin: auto; 
	align-items: center;
	width: 768px; 
}

.div-write1 {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.div-write2 {
	flex: 1 1 0%;
	display: flex;
	flex-direction: column;
}

.div-write3 {

	width: 1px;
	min-height: 425px;
	background-color: #e9ecef;
	margin-left: 2rem;
	margin-right: 2rem;
}

.div-write4 {
	display: flex;
	justify-content: flex-end;
	margin-top: 11rem;
}

.div-write5 {
	background-color: #e9ecef;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.btn-write0 {
	margin-top: 1rem; 
	padding: 0.25rem 2rem;
	background: #ffffff;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.024) 0px 0px 4px;
	font-size: 1rem;
	line-height: 1.5;
	color: #20c997;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: bold;
}

.span-write0 {
	font-size: 1.3125rem; 
	line-height: 1.5;
	margin: 5px 0; 
	font-weight: bold;
}

.textarea-write0 {
	resize: none;
	width: 100%;
	border: none;
	outline: none;
	background-color: #ffffff;
	line-height: 1.5;
	font-size: 0.875rem;
	height: 7.375rem;
	padding: 0.75rem 1rem;
	margin-top: 0.5rem;
}

.fxPkFT.active {
	border: solid 1px #20c997;
	color: #20c997;
}

.fxPkFT {
	outline: none;
	flex: 1 1 0%;
	height: 3rem;
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: bold;
	background: #ffffff;
	padding: 0px 0px 0px 1rem;
	border-radius: 4px;
	cursor: pointer;
	border: solid 1px #868e96;
	color: #868e96;
}

.description {
	flex: 1 1 0%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-write1 {
	color: #20C997;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 4px;
	padding: 0px 1.125rem;
	height: 2.5rem;
	font-size: 1.125rem;
	background-color: #f8f9fa;
}

.btn-write1:hover {
	background-color: rgb(0 0 0 / 5%);
}

.btn-write2 {
	color: white;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: #12B886;
	border-radius: 4px;
	padding: 0px 1.125rem;
	height: 2.5rem;
	font-size: 1.125rem;
}

.btn-write3 {
	color: white;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: #12B886;
	border-radius: 4px;
	padding: 0px 1rem;
	height: 2rem;
	font-size: 1rem;
}

.btn-write2:hover, .btn-write3:hover {
	background-color: #20C997;
}

.thumbnail {
	width: 100%;
	height: 100%;
	background-color: white;
}

.h4-board {
	font-size: 1rem; 
	margin: 0px 0px 0.25rem; 
	line-height: 1.5; 
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow: hidden;
	font-weight: bold;
}

.p-board {
	margin: 0px 0px 1.5rem;
	font-size: 0.875rem;
	line-height: 1.5;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
}

blockquote {
	border-left: 4px solid #ed9494 !important;
	background: #F8F9FA;
	padding: 1rem 1rem 1rem 2rem !important;
	color: black !important;
}

blockquote p {
	color: black !important;
}

.toastui-editor-contents p {
	font-size: 1rem;
}

.textarea-comment {
	width: 100%; 
	min-height: 6.125rem;
	margin: 0 auto; 
	resize: none; 
	outline: none; 
	border: 1px solid #e1e3e5; 
	line-height: 1.75;
}

#comment {
	margin: 4rem 0;	
}

.comment_div1 {
	padding: 1.5rem 0;
	border-bottom: 1px solid #e1e3e5;
}

.comment_div2 {
	display: flex;
	align-items: center;
	padding-top: 1rem;
}

.comment_span {
	font-weight: bold;
	font-size: 1rem;
	line-height: 1;
}

.comment_span2 {
	margin-top: 0.8rem;
	font-size: 0.875rem;
	line-height: 1;
	display: flex;
	color: #868e96;	
}

.comment_span3 {
	font-weight: bold;
	font-size: 1.5rem;
	line-height: 1.5;
}

.comment_span4 {
	margin-top: 0.8rem;
	font-size: 1.125rem;
	line-height: 1;
	display: flex;
}

.comment_p {
	padding: 2rem 0;
}

.comment_p2 {
	padding: 2rem 0;
	border-bottom:1px solid #f1f3f5;
}

.comment_div3 {
	color: #12b886;
	font-weight: bold;
	cursor: pointer;
}

.comment_div3:hover {
	color: #20C997;
}

.reReply_div {
	border: 1px solid rgba(0, 0, 0, 0.02);
	background-color: rgba(0, 0, 0, 0.016);
	padding: 2rem;
	border-radius: 4px;
	margin-top: 1.3125rem;
}

.reReply_div2 {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}

.reReply_btn {
	margin-top: 2rem;
	background: white;
	width: 100%;
	color: #12b890;
	outline: none;
	height: 2.5rem;
	border-radius: 4px;
	border: 1px solid #12b890;
	align-items: center;
	font-weight: 600;
	justify-content: center;
}

.reReply_btn:hover {
	background: #12b886;
	color: #ffffff;
}

.sideLeft_div1 {
	position: absolute;
	left: 17vw;
	top: 400px;
}

.sideLeft_div2 {
	width: 4rem;
	background-color: #f8f9fa;
	background-color: #f1f3f5;
	border-radius: 2rem;
	padding: 0.5rem;
	flex-direction: column;
	align-items: center;
}

.sideLeft_div3 {
	height: 3rem;
	width: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	border: 1px solid #dee2e6;
	border-radius: 1.5rem;
	color: #868e96;
	cursor: pointer;
}

.sideLeft_div3.active {
	height: 3rem;
	width: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	border: 1px solid #dee2e6;
	border-radius: 1.5rem;
	color: black;
	cursor: pointer;
}

.sideLeft_div3:hover {
	color: black;
}

.sideLeft_div4 {
	margin-top: 0.5rem;
	color: black;
	line-height: 1;
	font-size: 0.75rem;
	margin-bottom: 1rem;
	font-weight: bold;
}

.sideLeft_div1.fixed{
	position:fixed; 
	top: 300px;
}

.likeButton {
	background: #ffffff;
	border: 1px solid #adb5bd;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	margin-top: 20px;
	display: flex;
	align-items: center;
	height: 1.5rem;
	border-radius: 0.75rem;
	outline: none;
	display: none;
}

.likeButton svg {
	width: 0.75rem;
	height: 0.75rem;
	margin-right: 0.75rem;
	color: #868e96;
}

.likeButton.active svg{
	width: 0.75rem;
	height: 0.75rem;
	margin-right: 0.75rem;
	color: black;
}

.boardWriteMedia {
	display: none !important;
}

.rowDiv {
	display: flex; 
	flex-wrap: wrap;
	justify-content: center;
}

.forwardJoinBtn {
	float: right;
	color: #2aa75a;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}


/* 가로모드 모바일 디바이스 (가로 해상도가 576px보다 크고 768px 보다 작은 화면에 적용)  */
@media screen and (max-width: 767px) {
	.div-read0 {
		width: 100vw;	
	}
	
	.sideLeft_div2 {
		display: none;
	}		
	
	.likeButton {
		display: block;
	}
	
	.header-btn-media {
		display: none;
	}
	
	.boardWriteMedia {
		display: block !important;
	}
	
	.header-div2 {
		justify-content: space-between;
	}
	
	.widthBoardDiv {
		width: 100%;
	}
	
	.card-custom {
		width: 100%;
	}
	
	.card-img-top {
		height: 200px;
	}
	
	.div-write3 {
		display: none;
	}
	
	.div-write0 {
		height: 100vh;
		overflow-y: auto;
	}
}
 
/*태블릿 디바이스 (가로 해상도가 768px보다 크고 991px 보다 작은 화면에 적용)  */
@media (min-width: 768px) and (max-width: 790px) {
	.div-read0 {
		width: 100vw;	
	}
	
	.sideLeft_div2 {
		display: none;
	}
		
	.likeButton {
		display: block;
	}
	
	.header-btn-media {
		display: none;
	}
	
	.boardWriteMedia {
		display: block !important;
	}
	
	.header-div2 {
		justify-content: space-between;
		padding: 0 30px;
	}
	
	.widthBoardDiv {
		width: 100%;
	}
	
	.card-custom {
		width: 768px;
	}
	
	.card-img-top {
		height: 200px;
	}
} 
 
/* 데스크탑 (가로 해상도가 992px보다 크고 1199px 보다 작은 화면에 적용)  */
@media (min-width: 791px) and (max-width: 1199px) {
	.div-read0 {
		width: 70vw;	
	}
		
	.sideLeft_div2 {
		display: none;
	}
	
	.likeButton {
		display: block;
	}
	
	.header-btn-media {
		display: none;
	}
	
	.boardWriteMedia {
		display: block !important;
	}
	
	.header-div2 {
		justify-content: space-between;
		padding: 0 30px;
	}
	
	.widthBoardDiv {
		width: 1330px;
	}
	
	.widthBoardDiv {
		width: 100%;
	}
	
	.card-custom {
		width: 320px;
	}
	
	.card-img-top {
		height: 170px;
	}
} 
 
/* 큰화면 데스크탑 (가로 해상도가 1200px 보다 큰 화면에 적용)  */
@media (min-width: 1200px) {
	.div-read0 {
		width: 50vw;	
	}
	
	.sideLeft_div2 {
		display: flex;
	}
	
	.header-div2 {
		justify-content: space-between;
		padding: 0 80px;
	}
	
	.widthBoardDiv {
		width: 1730px;
	}
	
	.card-custom {
		width: 320px;
	}
	
	.card-img-top {
		height: 200px;
	}
}